<ion-modal-view>
  <ion-content>
    <form ng-submit="saveContact()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.name">
        </label>

        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="loginData.address">
        </label>

        <label class="item item-input">
          <span class="input-label">Phone number</span>
          <input type="text" ng-model="loginData.phoneNumber">
        </label>

        <button type="button" class="photo-button" ng-click="loadPhoto()">Load photo</button>

        <label class="item item-input">
          <span class="input-label">Photo</span>
          <img ng-if="resultImage" ng-src="{{ resultImage }}">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Add phone</button>
        </label>

        <button class="button" ng-click="closeModal()">Close</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
